<div class="jumbotron">
    <h1>CARAMEL POS Service</h1>
    <p class="lead">Caramel POS is a restaurant POS that can be found in thousands of restaurants in India, UAE and US </p>
    </div>
<div class="row">
    <div class="col-md-12">
        <h2>Journey Of Caramel</h2>
        <p>
            The journey of CARAMEL goes back to quarter of a century where it has undergone several evolutionary leaps in its technical infrastructure,
            capacity, and distribution. From the time of its establishment in 2016, the network has been implementing noticeable developments to continuously improve the quality of its services in line with global point of sales.
        </p>
    </div>    
</div>
<style>
body{
    background-image:url('../../Content/Images/POS_bg.jpg');
    background-size:cover;
}
</style>